<section class="todoapp">
  <header class="header">
    <h1>TODOS</h1>
    <input class="input-todo" placeholder="What needs to be done?" [(ngModel)]="newTodo.text" (keyup.enter)="addTodo()">
  </header>
  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
          <div class="view">
              <input class="toggle" type="checkbox" (click)="toggleCompleted(todo)" [checked]="todo.completed">
              <label>{{todo.text}}</label>
              <button class="remove" (click)="removeTodo(todo.id)"></button>
          </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length">
    <span>{{getNonCompletedToDo()}} items left</span>
  </footer>
</section>